[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
jenkspy = "*"
pytest = "*"
fastapi = "*"
uvicorn = "*"
unexecore = {file = "packages/unexecore-441.0.0.24-py3-none-any.whl"}
flood-simulation = {file = "packages/flood_simulation-2.0.0.1-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.14"
