[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
jenkspy = "*"
pytest = "*"
fastapi = "*"
uvicorn = "*"
unexecore = {file = "packages/unexecore-1.0.0.4-py3-none-any.whl"}
flood-simulation = {file = "packages/flood_simulation-1.0.0.2-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.10"
