#python 3.13
pillow
jenkspy
pytest
fastapi[standard]
uvicorn
jinja2

requests

packages/unexecore-44.0.0.8-py3-none-any.whl
packages/unexe_flood_simulation-2.0.0.6-py3-none-any.whl

packages/waterverse_sdg-1.0.0.3-py3-none-any.whl
